<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.widgetkit-extension</string>
        <key>NSExtensionPrincipalClass</key>
        <string>ChargeLimiterWidgetProvider</string>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>ChargeLimiter</string>
    <key>CFBundleIdentifier</key>
    <string>chaoge.ChargeLimiter.widget</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ChargeLimiterWidget</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024. All rights reserved.</string>
    <key>com.apple.security.application-groups</key>
    <array>
        <string>group.chaoge.ChargeLimiter</string>
    </array>
    <key>NSWidgetWantsLocation</key>
    <true/>
    <key>NSSupportsLiveActivities</key>
    <true/>
</dict>
</plist> 